/*
* @Author: Lenovo
* @Date:   2017-07-20 13:27:38
* @Last Modified by:   Lenovo
* @Last Modified time: 2017-07-22 13:18:07
*/
@font-face {
  font-family: 'iconfont';  /* project id 360233 */
  src: url('http://at.alicdn.com/t/font_yi2z13c4hzn6ogvi.eot');
  src: url('http://at.alicdn.com/t/font_yi2z13c4hzn6ogvi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_yi2z13c4hzn6ogvi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_yi2z13c4hzn6ogvi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_yi2z13c4hzn6ogvi.svg#iconfont') format('svg');
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
header{
	width: 100%;
	height: 0.92rem;
	background: #0078e6;
	position: fixed;
	z-index: 999;
}
.haitun{
	width: 0.72rem;
	height: 0.67rem;
	float: left;
	margin-left: 2.7rem;
	margin-top: 0.15rem;
}
.haitun img{
	display: block;
	width: 100%;
	height: 100%;
}
h3{
	font-size: 0.36rem;
	float: left;
	text-align: center;
	line-height: 0.92rem;
	color: #fff;
	font-family: "黑体";
}
.banner{
	width: 100%;
	height: 2.8rem;
}
.banner img{
	width: 100%;
	height: 100%;
	display: block;
}
.shouye{
	width: 100%;
	height: 0.86rem;
	background: #f5f6fa;
	font-size: 0.21rem;
	font-family: "黑体";
	line-height: 0.86rem;
}
.shouye a{
	font-size: 0.21rem;
	font-family: "黑体";
	line-height: 0.86rem;
	color: #494747;
	display: block;
	margin-left: 0.2rem;
}

/* 页码开始 */
.ye{
	width: 100%;
	height: 0.7rem;
	background: #fff;
	overflow: hidden;
	padding-top: 0.2rem
}
.ye-left{
	width: 5.16rem;
	height: 0.5rem;
	background: #fff;
	float: left;
	padding-left: 0.3rem;
}
.ye-right{
	width: 2.04rem;
	height: 0.7rem;
	background:#fff;
	float: left;
	
}
.tiao{
	width: 1rem;
	height:0.3rem;
	float: left; 
	font-size: 0.16rem;
	color: #000;
	line-height: 0.5rem;	
}
.y1{
	width: 0.6rem;
	height: 0.4rem;
	background: #fff;
	border: 0.01rem solid #b4b4b4;
	border-radius: 0.18rem;
	float: left;
	margin-right: 0.14rem;
}
.y11{
	width: 0.48rem;
	height: 0.24rem;
	margin: auto;
	background: #fff;
	border-radius: 0.12rem;
	margin-top: 0.07rem;
	border: 0.01rem solid #b4b4b4;
	font-size: 0.1rem;
	text-align: center;
	line-height: 0.25rem;
	color: #b4b4b4;
}
.y2{
	width: 0.4rem;
	height: 0.4rem;
	background: #fff;
	border: 0.01rem solid #b4b4b4;
	border-radius: 50%;
	float: left;
	margin-right: 0.14rem;
}
.y22{
	width: 0.26rem;
	height: 0.26rem;
	margin: auto;
	background: #fff;
	border-radius: 50%;
	margin-top: 0.05rem;
	border: 0.01rem solid #b4b4b4;
	font-size: 0.1rem;
	text-align: center;
	line-height: 0.25rem;
	color: #b4b4b4;
}
/* 页码结束 */
.end{
	width: 100%;
	height: 1rem;
	background: #f5f6fa;
	text-align: center;
	font-size: 0.17rem;
	padding-top: 0.2rem;
	color: #8a8a8b;
}
.h5{
	width: 100%;
	height: 3.3rem;
	background: #f5f6fa;
	margin-bottom: 0.04rem;
}
.h51{
	width: 7.05rem;
	height: 3.03rem;
	background: #fff;
	margin: 0 auto;
}
.h51-top{
	width: 7.05rem;
	height: 0.64rem;
	background: #fff;
	font-size: 0.24rem;
	line-height: 0.8rem;
	color: #000;
}
.h51-m{
	width: 7.05rem;
	height: 1.66rem;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.h51-ml{
	width: 1.97rem;
	height: 1.52rem;
	float: left;
	margin-top: 0.06rem;
	margin-left: 0.1rem;
}
.h51-mr{
	width: 4.73rem;
	height: 1.44rem;
	background: #fff;
	float: right;
	margin-top: 0.2rem;
}
.h51-mr pre{
	font-size: 0.21rem;
	color: #494747;
}
.h51-ml img{
	width: 100%;
	height: 100%;
	display: block;
}
.h51-ml1{
	width: 1.97rem;
	height: 1.52rem;
	background: #c8c8c8;
	position: absolute;
	bottom: 0;
	left: 0;
}
.h51-b{
	width: 7.05rem;
	height: 0.52rem;
	border-top: 0.01rem solid #cecece;
	border-bottom: 0.01rem solid #cecece;
	background: #fff;
	margin-top: 0.07rem;
}
.h51-b1{
	width: 2.3rem;
	height: 0.52rem;
	float: left;
	background: #fff;
	margin-right: 0.15rem;
}
.h51-b10{
	width: 2.1rem;
	height: 0.52rem;
	float: left;
	background: #fff;
	margin-right: 0.05rem;
}
.h51-b1l{
	width: 0.44rem;
	height: 0.52rem;
	background: #fff;
	float: left;
}
.h51-b1l img{
	width: 100%;
	height: 100%;
	display: block;
}
.h51-b1r{
	width: 1.8rem;
	height: 0.52rem;
	float: left;
	font-size: 0.17rem;
	color: #c8c8c8;
	line-height: 0.52rem;
}
.h51-b1r0{
	width: 1.64rem;
	height: 0.52rem;
	float: left;
	font-size: 0.17rem;
	color: #c8c8c8;
	line-height: 0.52rem;
}