/*
* @Author: Lenovo
* @Date:   2017-07-20 13:27:38
* @Last Modified by:   Lenovo
* @Last Modified time: 2017-07-22 16:33:02
*/
@font-face {
  font-family: 'iconfont';  /* project id 360233 */
  src: url('http://at.alicdn.com/t/font_yi2z13c4hzn6ogvi.eot');
  src: url('http://at.alicdn.com/t/font_yi2z13c4hzn6ogvi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_yi2z13c4hzn6ogvi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_yi2z13c4hzn6ogvi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_yi2z13c4hzn6ogvi.svg#iconfont') format('svg');
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
header{
	width: 100%;
	height: 0.92rem;
	background: #0078e6;
	position: fixed;
	z-index: 999;
}
.haitun{
	width: 0.72rem;
	height: 0.67rem;
	float: left;
	margin-left: 2.7rem;
	margin-top: 0.15rem;
}
.haitun img{
	display: block;
	width: 100%;
	height: 100%;
}
h3{
	font-size: 0.36rem;
	float: left;
	text-align: center;
	line-height: 0.92rem;
	color: #fff;
	font-family: "黑体";
}
.banner{
	width: 100%;
	height: 2.8rem;
}
.banner img{
	width: 100%;
	height: 100%;
	display: block;
}
.shouye{
	width: 100%;
	height: 0.86rem;
	background: #f5f6fa;
	font-size: 0.21rem;
	font-family: "黑体";
	line-height: 0.86rem;
}
.shouye a{
	font-size: 0.21rem;
	font-family: "黑体";
	line-height: 0.86rem;
	color: #494747;
	display: block;
	margin-left: 0.2rem;
}

/* 页码开始 */
.ye{
	width: 100%;
	height: 0.7rem;
	background: #fff;
	overflow: hidden;
	padding-top: 0.2rem
}
.ye-left{
	width: 5.16rem;
	height: 0.5rem;
	background: #fff;
	float: left;
	padding-left: 0.3rem;
}
.ye-right{
	width: 2.04rem;
	height: 0.7rem;
	background:#fff;
	float: left;
	
}
.tiao{
	width: 1rem;
	height:0.3rem;
	float: left; 
	font-size: 0.16rem;
	color: #000;
	line-height: 0.5rem;	
}
.y1{
	width: 0.6rem;
	height: 0.4rem;
	background: #fff;
	border: 0.01rem solid #b4b4b4;
	border-radius: 0.18rem;
	float: left;
	margin-right: 0.14rem;
}
.y11{
	width: 0.48rem;
	height: 0.24rem;
	margin: auto;
	background: #fff;
	border-radius: 0.12rem;
	margin-top: 0.07rem;
	border: 0.01rem solid #b4b4b4;
	font-size: 0.1rem;
	text-align: center;
	line-height: 0.25rem;
	color: #01b5ff;
}
.y2{
	width: 0.4rem;
	height: 0.4rem;
	background: #fff;
	border: 0.01rem solid #b4b4b4;
	border-radius: 50%;
	float: left;
	margin-right: 0.14rem;
}
.y22{
	width: 0.26rem;
	height: 0.26rem;
	margin: auto;
	background: #fff;
	border-radius: 50%;
	margin-top: 0.05rem;
	border: 0.01rem solid #b4b4b4;
	font-size: 0.1rem;
	text-align: center;
	line-height: 0.25rem;
	color: #b4b4b4;
}
/* 页码结束 */
.end{
	width: 100%;
	height: 1rem;
	background: #f5f6fa;
	text-align: center;
	font-size: 0.17rem;
	padding-top: 0.2rem;
	color: #8a8a8b;
}
/* nav */
.nav{
	width: 100%;
	height: 1.2rem;
	background: #f5f6fa;
}
.nav1{
	width: 7.03rem;
	height: 0.82rem;
	border: 0.01rem solid #01b5ff;
	border-radius: 0.15rem;
	margin: 0 auto;
	position: relative;
}
.sanjiao{
	width: 0;
	height: 0;
	position: absolute;
	border-top: 0.2rem solid #01b5ff;
	border-right: 0.2rem solid transparent;
	border-left: 0.2rem solid transparent;
	border-bottom: 0.2rem solid transparent;
	top: 0.82rem;
	left: 0.9rem;

}

.nav1-1{
	width: 33.333333%;
	height: 0.82rem;
	border: 0.01rem solid #01b5ff;
	box-sizing: border-box;
	float: left;
	border-radius: 0.15rem;
	background: #01b5ff;
	text-align: center;
	line-height: 0.82rem;
	font-size: 0.3rem;
	color: #fff;

}
.nav1-2{
	width: 33.333333%;
	height: 0.82rem;
	float: left;
	text-align: center;
	line-height: 0.82rem;
	font-size: 0.3rem;
	color: #000;
}
.gaishu{
	width: 100%;
	height: 0.7rem;
	background: #f5f6fa;
}
.gaishu1{
	width: 7.05rem;
	height: 0.7rem;
	background: #fff;
	margin: 0 auto;
}
.gaishu1-left{
	height: 100%;
	width:0.5rem;
	float: left;
	background:#fff; 
}
.gaishu1-right{
	width: 6.2rem;
	height: 0.7rem;
	float: left;
	background:#fff;
	border-bottom: 0.01rem dashed #999999;
	box-sizing: border-box;
	font-size: 0.23rem;
	color: #444444;
	line-height: 0.8rem;
}
.le{
	width: 0.08rem;
	height: 0.22rem;
	background: #01b5ff;
	margin-left: 0.3rem;
	margin-top: 0.3rem;
}
.ren{
	width: 100%;
	height: 3.58rem;
	background: #f5f6fa;
}
.ren1{
	width: 7.05rem;
	height: 3.42rem;
	background: #fff;
	margin: 0 auto;
}
.ren2{
	width: 6.2rem;
	height: 3.12rem;
	background: #fff;
	margin-left: 0.5rem;
}
.ren2-1{
	width: 3.07rem;
	height: 3.12rem;
	float: left;
}
.ren2-1 img{
	width: 100%;
	height: 100%;
	display: block;
}
.ren2-2{
	width: 3.1rem;
	height: 3.12rem;
	background: #fff;
	float: left;
}
.liu{
	display: block;
	font-size: 0.3rem;
	margin-top: 0.4rem;
	float: left;
}
.liu1{
	font-size: 0.2rem;
	display: block;
	margin-top: 0.4rem;
	float: left;
	color: #27baff;
}
.ren2-2 pre{
	font-size: 0.23rem;
	display: block;
	margin-top: 0.15rem;
}
.text{
	width: 100%;
	height: 4.42rem;
	background: #f5f6fa;
}
.text1{
	width: 7.05rem;
	height: 4.19rem;
	background: #fff;
	margin: 0 auto;
	overflow: hidden;
}
.text2{
	width: 6.39rem;
	height: 4rem;
	margin: 0 auto;
	background:#fff;
	margin-top: 0.2rem;
}
.text2 p{
	font-size: 0.2rem;
	color: #666666;
}