/*
* @Author: Lenovo
* @Date:   2017-07-19 10:41:06
* @Last Modified by:   Lenovo
* @Last Modified time: 2017-07-20 09:26:24
*/
@font-face {
  font-family: 'iconfont';  /* project id 355028 */
  src: url('http://at.alicdn.com/t/font_oiq6uc1ard5f80k9.eot');
  src: url('http://at.alicdn.com/t/font_oiq6uc1ard5f80k9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_oiq6uc1ard5f80k9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_oiq6uc1ard5f80k9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_oiq6uc1ard5f80k9.svg#iconfont') format('svg');
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.nav{
	width: 100%;
	height: 2.80rem;
	background: pink;
}
.nav1{
	width: 100%;
	height: 2.80rem;
	background: red;
}
.nav1 .nav1-1{
	width: 20%;
	height: 1.40rem;
	background: #fff;
	float: left;
}
.jifen{
	height: 0.72rem;
	width: 0.72rem;
	background: gray;
	margin: 0 auto;
	margin-top: 0.08rem;
}
.jifen img{
	width: 0.72rem;
	height: 0.72rem;
	display: block;
}
.text{
	display: block;
	font-size: 0.22rem;
	text-align: center;
	margin-top: 0.14rem;
	color: #051b28;
	font-family: "黑体";

}
header{
	width: 100%;
	height: 0.88rem;
	background: #f32d2d;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
#head{
	width: 100%;
	height: 0.88rem;
	background: #f32d2d;
}
input{
	width: 3.89rem;
	height: 0.67rem;
	background: #fee9e9;
	line-height: 0.67rem;
	display: block;
	float: left;
	margin: 0 auto;	
	border: none;
	display: block;
	border-radius: 0.05rem;
	padding-left: 0.1rem;
}
header .iconfont{
	font-family: 'iconfont';
	font-size: 0.4rem;
	float: left;
	margin-top: 0.17rem;
	margin-left: 0.5rem;
	color: #fff;
}
.kuang{
	width: 3.99rem;
	height: 0.67rem;
	float: left;
	margin: 0 auto;
	margin-top: 0.1rem;
	margin-left: 0.2rem;
	position: relative;
	border-radius: 0.05rem;
}
.kuang img{
	position: absolute;
	width: 0.84rem;
	height: 0.66rem;
	top:0;
	right: 0;
}
.denglu{
	width: 0.9rem;
	height: 0.87rem;
	font-size: 0.22rem;
	line-height: 0.9rem;
	float: right;
	color: #fff;
	font-family: "黑体";
}
/* banner开始 */
.banner{
	width: 100%;
	height: 2.23rem;
	position: relative;
	overflow: hidden;
}
.banner1{
	width: 100%;
	height: 2.23rem;
	transition: .5s;
	position: absolute;
	top:0;
	left:0;
}
.banner1 img{
	width: 6.4rem;
	height: 2.23rem;
}
.dian{
	width: 1.51rem;
	height: 0.14rem;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 0.16rem;
}
.dian1{
	width: 0.12rem;
	height: 0.12rem;
	margin-right:0.04rem;
	border-radius: 50%;
	float: left;
	border: 0.01rem solid #7b7b7d;
	background: #7b7b7d;
	z-index: 999;
}
.dian .dian1:last-child{
	margin-right: 0;
}
.dian1:hover{
	background: #fff;
}
/* banner结束 */
/* 潮流酷玩开始 */
.chaoliu{
	width: 4.7rem;
	height: 0.62rem;
	background: #f0f0f0;
	padding-left: 1.7rem;
}
.chaoliu0{
	width: 4.7rem;
	height: 0.62rem;
	background: #f0f0f0;
	padding-left: 1.7rem;
}
.gang{
	width: 0.7rem;
	height: 0.62rem;
	font-size: 0.5rem;
	line-height: 0.62rem;
	float: left;
	color: #becfec;
}
.gang1{
	width: 0.7rem;
	height: 0.62rem;
	font-size: 0.5rem;
	line-height: 0.62rem;
	float: left;
	color: #f6b7b7;
}
.gang2{
	width: 0.7rem;
	height: 0.62rem;
	font-size: 0.5rem;
	line-height: 0.62rem;
	float: left;
	color: #f99c00;
}
.gang3{
	width: 0.7rem;
	height: 0.62rem;
	font-size: 0.5rem;
	line-height: 0.62rem;
	float: left;
	color: #65c104;
}
.chao{
	width: 1.11rem;
	height: 0.62rem;
	float: left;
	font-size: 0.22rem;
	line-height: 0.62rem;
	text-align: center;
	color: #4c85e5;
}
.chao1{
	width: 1.11rem;
	height: 0.62rem;
	float: left;
	font-size: 0.22rem;
	line-height: 0.62rem;
	text-align: center;
	color: #ff2e64;
}
.chao2{
	width: 1.11rem;
	height: 0.62rem;
	float: left;
	font-size: 0.22rem;
	line-height: 0.62rem;
	text-align: center;
	color: #f99c00;
}
.chao3{
	width: 1.11rem;
	height: 0.62rem;
	float: left;
	font-size: 0.22rem;
	line-height: 0.62rem;
	text-align: center;
	color: #65c104;
}
.shouji{
	width: 0.36rem;
	height: 0.42rem;
	float: left;
}
.shouji img{
	width: 0.36rem;
	height: 0.42rem;
	margin-top: 0.1rem;
	display: block;
}
.suning{
	width: 100%;
	height: 2.6rem;
}
.suning1{
	width: 33.333333%;
	height: 2.6rem;
	float: left;
}
.suning1 img{
	width: 100%;
	height: 2.6rem;

}
/* 潮流酷玩结束 */
/* 品牌特卖开始 */
.pinpai{
	width: 100%;
	height: 2.5rem;
	background: #f0f0f0;
}
.pin{
	width: 50%;
	height: 1.88rem;
	border-right: 0.02rem solid #f0f0f0;
	float: left;
	box-sizing: border-box;
}
.pin img{
	width: 100%;
	height: 1.88rem
}
.pin1 img{
	width: 100%;
	height: 1.88rem;
}
.pin1{
	border-right: 0;
}
/* 品牌特卖结束 */
.redian{
	width: 100%;
	height: 0.8rem;
}
.redian1{
	width: 1.34rem;
	height: 0.8rem;
	border-right: 0.01rem solid #e7e7e7;
	box-sizing: border-box;
	float: left;
}
.redian img{
	width: 1.34rem;
	height: 0.8rem;
	display: block;
}
.redian2{
	width: 5.06rem;
	height: 0.8rem;
	float: left;
}
.redian2-1{
	width: 0.8rem;
	height: 0.8rem;
	background: #fff;
	float: left;
}
.redian2-1 img{
	width: 0.4rem;
	height: 0.3rem;
	display: block;
	margin: auto;
	margin-top: 0.25rem;
}
.redian2-2{
	width: 4.26rem;
	height: 0.7rem;
	float: left;
	background: #fff;
	padding-top: 0.1rem
}
h6{
	font-size: 0.2rem;
}
.c61{
	color: #ff2f2f;
}
.jinri{
	width: 6.4rem;
	height: 2.18rem;
	background: #f0f0f0;
	overflow: hidden;
}
.jinri1{
	width: 3.45rem;
	height: 2.08rem;
	margin-top: 0.1rem;
	margin-left: 0.05rem;
}
.jinri1 img{
	width: 3.45rem;
	height: 2.08rem;
}
/* 必抢开始 */
.biqiang{
	width: 100%;
	height: 5.1rem;
}
.bq{
	width: 25%;
	height: 2.55rem;
	float: left;
	box-sizing:border-box;
	border-bottom: 1px solid #f0f0f0; 
}
.biqiang .bq:nth-of-type(4){
	border-left: 1px solid #f0f0f0;
}
.biqiang .bq:nth-of-type(8){
	border-left: 1px solid #f0f0f0;
}
.bq-top{
	width: 100%;
	height: 0.47rem;
	background: #fff;
}
.bq-mid{
	width: 100%;
	height: 1.6rem;
}
.bq-bot{
	width: 100%;
	height: 0.46rem;
	background: #fff;
}
h3{
	font-size: 0.25rem;
	text-align: center;
	line-height: 0.47rem;
}
h4{
	font-size: 0.17rem;
}
.f1{
	float: left;
	color: #ff2e2e;
	line-height: 0.46rem;
	margin-left: 0.22rem;
}
s{
	font-size: 0.17rem;
	float: right;
	color: #9b9b9b;

}
.bq-mid img{
	width: 100%;
	height: 1.6rem;
}
/* 必抢结束 */
.bianjie{
	width: 6.4rem;
	height: 2.5rem;
}
.bj-left{
	width: 2.84rem;
	height: 2.5rem;
	float: left;
	box-sizing: border-box;
	border-right: 1px solid #f0f0f0;
}
.bj-left img{
	width: 2.84rem;
	height: 2.5rem;
	display: block;
}
.bj-right{
	width: 3.56rem;
	height: 2.5rem;
	float: right;
}
.bj-right1{
	width: 100%;
	height: 50%;
	box-sizing: border-box;
	border-bottom: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
}
.bj-right1 img{
	width: 100%;
	height: 100%;
	display: block;
}
.bj-right .bj-right1:last-child{
	border-bottom: 0;
}
.hangye{
	width: 6.4rem;
	height: 7.24rem;
	background: #f0f0f0;
}
.hangye1{
	width: 50%;
	height: 33.333333%;
	box-sizing: border-box;
	border-right: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	float: left;
}
.hangye1-left{
	width: 50%;
	height: 100%;
	background: #fff;
	float: left;
}
.hangye1-left img{
	width: 100%;
	height: 100%;
	display: block;
}
.hangye1-left h4{
	font-size: 0.22rem;
	color: #9b9b9b;
	font-family: "宋体";
	text-align: center;
}
.hangye1-left h3{
	text-align: center;
}
.wanbiao{
	width: 25%;
	height: 33.333333%;
	background: #fff;
	box-sizing: border-box;
	border-right: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
	float: left;
}
.wanbiao h4{
	font-size: 0.22rem;
	color: #9b9b9b;
	font-family: "宋体";
	text-align: center;
}
.waniao1{
	width: 100%;
	height: 0.83rem;
}
.wanbiao1 h3{
	text-align: center;
}
.wanbiao1 img{
	width: 100%;
	height: 100%;
	display: block;
}
.wanbiao2{
	width: 100%;
	height: 1.68rem;
}
.wanbiao2 img{
	width: 100%;
	height: 100%;
	display: block;
}
/* 猜你喜欢开始 */
.like{
	width: 6.4rem;
	height: 5.45rem;
	background: #f0f0f0;
}
.like-top{
	width: 100%;
	height: 0.9rem;
	background: #f0f0f0;
}
.like-top h2{
	font-size: 0.26rem;
	color: #999999;
	text-align: center;
	line-height: 0.9rem;
}
.like-bot{
	width: 50%;
	height: 4.55rem;
	border-right: 0.08rem solid #f0f0f0;
	box-sizing: border-box;
	float: left;
}
.like-bot1{
	width: 50%;
	height: 4.55rem;
	box-sizing: border-box;
	float: left;
}
.like1{
	width: 100%;
	height: 3.16rem;
}
.like1 img{
	width: 100%;
	height: 100%;
	display: block;
}
.like2{
	width: 100%;
	height: 1.39rem;
	background: #fff;
	overflow: hidden;
}
.like2 h5{
	font-size: 0.28rem;
	color: #666666;
	text-align: center;
	margin-top: 0.16rem;
}
.like2 h6{
	color: #dd2727;
	font-size: 0.27rem;
	margin-left: 0.1rem;
	margin-top: 0.1rem;
}
.like-bot1 .like2 h5{
	font-size: 0.28rem;
	color: #666666;
	text-align: left;
	margin-top: 0.16rem;
	margin-left: 0.1rem;
}
/* 猜你喜欢结束 */
.dibu{
	width: 100%;
	height: 0.84rem;
	background: #f0f0f0;
	overflow: hidden;
	border-bottom: 0.04rem solid #000;
}
.xiaotu{
	width: 0.6rem;
	height: 0.42rem;
	margin: 0 auto;
}
.xiaotu img{
	width: 100%;
	height: 100%;
	display: block;
	margin-top: 0.2rem;
}
footer{
	width: 100%;
	height: 2.03rem;
	background: #fff;
	overflow: hidden;
}
ul .zuihou{
	width: 1.28rem;
	height: 0.23rem;
	border-right: 0.01rem solid #99a5c2;
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.44rem;
}
ul .zuihou {
	font-size: 0.18rem;
	color: #99a5c2;
	line-height: 0.23rem;
	text-align: center;
}
ul .zuihou:last-child{
	border-right: 0;
}
footer h6{
	text-align: center;
	line-height: 0.94rem;
	color: #cccccc;
}