*{
	margin:0;
	padding: 0;
}
main{
	width: 800px;
	height: 600px;
	margin: 20px auto;
}
table{
	width: 100%;
	height: auto;
	margin:0 auto;
	text-align: center;
	border-collapse: collapse;
}
td{
	padding: 5px 3px;
	border-bottom: 1px solid lightgray;
}
input{
	padding: 5px 3px;
}
table tr:nth-of-type(2n){
	background: lavender;
}
button{
	outline: none;
	border: none;
	width: 40px;
	height: 20px;
	text-align: center;
	line-height: 15px;
	background: #ff6700;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
}
.btnadd{
	background: gray;
	margin-top: 20px;
	float: right;
	margin-right: 53px;
}
