/*
* @Author: Lenovo
* @Date:   2017-08-03 15:26:10
* @Last Modified by:   Lenovo
* @Last Modified time: 2017-08-20 16:43:44
*/
@font-face {
  font-family: 'iconfont';  /* project id 360233 */
  src: url('http://at.alicdn.com/t/font_bv10bwif9n486w29.eot');
  src: url('http://at.alicdn.com/t/font_bv10bwif9n486w29.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_bv10bwif9n486w29.woff') format('woff'),
  url('http://at.alicdn.com/t/font_bv10bwif9n486w29.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_bv10bwif9n486w29.svg#iconfont') format('svg');
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.search{
	width: 100%;
	height: 55px;
	background: rgba(69,60,55,0.8);
	position: fixed;
	top: -85px;
	left: 0;
	z-index: 999;
}
.serach1{
	width: 600px;
	height: 40px;
	margin: 0 auto;
	border: 2px solid #453C37;
	margin-top: 5px;
	background: #fff;
	border-radius: 25px;
}
.sea{
	width: 490px;
	height: 100%;
	outline: none;
	float: left;
	border: 0;
	padding-left: 20px;
	border-radius: 25px;
}
.sea1{
	width: 90px;
	height: 100%;
	float: left;
	text-align: right;
	line-height: 20px;
	color: gray;
	border-radius: 25px;
}
.icon-sousuo:before{
	font-size: 30px;
	margin-right: -10px;
	
}
.Totop{
	width: 40px;
	height: 40px;
	position: fixed;
	right: -80px;
	bottom: 100px;
	z-index: 999;
	cursor: pointer;
	border: 2px solid #453C37;
	padding-left: 4px;
}
.icon-top1:before{
	font-size: 35px;
	color: #453C37;
	text-align: center;
	line-height: 40px;
}
.imgBox{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}
.imgBox img{
	width: 100%;
	height: 100%;
}
/* 头部 */
header{
	width: 100%;
	height: 85px;
	background: #fff;
}
.head{
	width: 1230px;
	height: 100%;
	margin: 0 auto;
	background: #fff;
}
.head-left{
	width: 120px;
	height: 100%;
	background: yellow;
	float: left;
	font-size: 30px;
	font-family: "黑体";
	text-align: center;
	line-height: 85px;
	color: #0cbbef;
}
.head-left img{
	display: block;
	width: 100%;
	height: 100%;
}
.head-right{
	width: 910px;
	height: 100%;
	/* background: red; */
	float: right;
}
.h{
	margin-top: 35px
}
.h1{
	height: 20px;
	float: left;
	font-size: 15px;
	color: #515151;
	margin-right: 35px;
}
.h1 a{
	font-size: 15px;
	color: #515151;
	font-family: "黑体";
}
.h1:hover a{
	color: #00c3f5;
	transition: all 0.5s;
}
.h .h1:last-child{
	margin-right: 0;
}
.banner{
	width: 100%;
	height: 700px;
}
.banner-m{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.banner-m img{
	width: 100%;
	height: 100%;
	display: block;
}
.banner-nav{
	width: 100%;
	height: 65px;
	border-bottom: 1px solid #baa7a8;
	position: absolute;
	top: 0;
	left: 0;
}
.banner-nav1{
	width: 100%;
	height: 65px;
	background: lightgray;
	opacity: 0.3;
	position: absolute;
	top: 0;
	left: 0;
}
.nav-left{
	width: 135px;
	height: 100%;
	float: left;
	color: #fff;
	font-size: 30px;
	text-align: center;
	line-height: 65px;
	font-family: 'Arial';
	margin-left: 50px;
}
.nav-left a{
	color: #fff;
	font-size: 30px;
	text-align: center;
	line-height: 65px;
	font-family: 'Arial';
}
.nav-left:hover a{
	color:  #00c3f5;
	transition: all 0.5s;
}
.m1{
	height: 63px;
	/* background: yellow; */
	float: left;
	margin-right: 30px;
}
.m1:hover{
	border-bottom: 2px solid #00c3f5;
	transition: all 0.5s;
}
.m1 a{
	line-height: 65px;
	font-size: 13px;
	color: #fff;
}
.m1:hover a{
	color: #00c3f5;
	transition: all 0.5s;
}
.nav-right{
	width: 100px;
	height: 100%;
	float: right;
	/* background: yellow; */
	margin-right: 80px;
}
.nav-right1{
	width: 100%;
	height: 37px;
	margin-top: 15px;
	background: #00c3f5;
	font-size: 13px;
	font-family: "黑体";
	color: #fff;
	line-height: 37px;
	text-align: center;
	border-radius: 5px;
}
/* 副banner */
.fubanner{
	width: 100%;
	height: 140px;
	padding-bottom: 50px;
}
.fubanner1{
	width: 1230px;
	height: 140px;
	margin: 0 auto;
}
.ba-one{
	width: 242px;
	height: 137px;
	float: left;
	margin-right: 5px;
	margin-top: 3px;
	background: #f9f9f9;
}
.ba-one:hover{
	transform: translate(0, -3px);
	box-shadow: 0px 7px 7px lightgray;
	transition: all 0.3s;
}
.ba-one0:hover{
	transform: translate(0, 0);
	box-shadow: 0px 0px 0px lightgray;
	transition: all 0s;
}
.ba-one img{
	display: block;
	width: 100%;
	height: 100%;
}
.fubanner .ba-one:last-child{
	margin-right: 0;
}
.ba-one1{
	width: 50%;
	height: 50%;
	float: left;
	box-sizing: border-box;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}
.ba-one1 a{
	display: block;
	width: 100%;
	height: 100%;
}
.ba-one .ba-one1:nth-child(2n){
	border-right: 0;
}
.ba-one .ba-one1:nth-child(3){
	border-bottom:0;
}
.ba-one .ba-one1:nth-child(4){
	border-bottom:0;
}
.iconfont{
	font-family: 'iconfont';
	color: #666666;
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
}
a:hover .iconfont{
	color: lightgray;
	transition: all 0.5s;
}
.ba-one1 a span{
	color: #666666;
	font-size: 17px;
	margin-left: 25px;
	text-align: center;
	font-family: "黑体";
}
a:hover span{
	color: lightgray;
	transition: all 0.5s;
}
/* 热品推荐 */
.hot{
	width: 100%;
	height: 440px;
}
.hot-m{
	width: 1230px;
	height: 100%;
	margin: 0 auto;
}
.hot-top{
	width: 100%;
	height: 80px;
	background: #fff;
}
.top-left{
	width: 100px;
	height: 100%;
	float: left;
	font-size: 20px;
	line-height: 80px;
	color: #333333;
	font-family: "黑体";
}
.top-right{
	width: 100px;
	height: 100%;
	float: right;
}
.top-right1{
	width: 28px;
	height: 28px;
	border: 1px solid #f4f1f0;
	
	float: right;
	margin-top: 25px;
	margin-left: 10px;
}
.top-right1:hover{
	border: 1px solid #bdbdbd;
	transition: all 0.5s;
}
.top-right1:hover a{
	color: #bdbdbd;
	transition: all 0.5s;
}
.top-right1 a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 17px;
	text-align: center;
	line-height: 28px;
	color: #f4f1f0;
}

/* 手机 */
.shouji{
	width: 100%;
	height: 600px;
	background: #f5f5f5;
}
.phone{
	width: 1230px;
	height: 100%;
	margin: 0 auto;
}
.phone-top{
	width: 100%;
	height: 70px;
}
.top1 a{
	display: block;
	font-size: 22px;
	margin-right: 25px;
	float: left;
	margin-top: 30px;
	font-family: "黑体";
	color: #333333;
}
.phone-bot0 a img{
	display: block;
	width: 100%;
	height: 100%;
}
.top2 a{
	display: block;
	width: 55px;
	height: 20px;
	float: left;
	text-align: center;
	font-size: 13px;
	line-height: 22px;
	margin-top: 35px;
	margin-right: 24px;
	font-family: "黑体";
	color: #333333;
}
.top2 a:hover{
	border-bottom: 2px solid #00c3f5;
	color: #00c3f5;
	transition: all 0.3s;
}
.top3 a{
	display: block;
	width: 50px;
	height: 20px;
	float: right;
	text-align: center;
	font-size: 13px;
	line-height: 22px;
	margin-top: 35px;
	/* margin-right: 24px; */
	font-family: "黑体";
	color: #333333;
}
.top3 a:hover{
	color: #00c3f5;
	transition: all 0.3s;
}
.phone-bot{
	width: 1230px;
	height: 345px;
	background: #f5f5f5;
}
.phone-bot1,.phone-bot0{
	width: 242px;
	height: 338px;
	float: left;
	background:#fff;
	margin-right: 5px;
	margin-bottom: 5px;
}
.phone-bot1:hover{
	transform: translate(0,-4px);
	box-shadow: 0 7px 15px lightgray;
	transition: all 0.5s;
}
.phone-bot1 a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.phone-bot .phone-bot1:nth-child(5){
	margin-right: 0;
}
.phone-bot .phone-bot1:last-child{
	margin-right: 0;
}
.bot1-top{
	width: 180px;
	height: 180px;
	margin: 0 auto;
	margin-top: 35px;
	/* background: red; */
}
.bot1-top img{
	display: block;
	width: 100%;
	height: 100%;
}
.tex1{
	width: 100%;
	height: 15px;
	font-family: "黑体";
	font-size: 13px;
	text-align: center;
	margin-top: 26px;
	color: #555757;
}
.tex2{
	width: 100%;
	height: 15px;
	font-family: "黑体";
	font-size: 11px;
	text-align: center;
	margin-top: 10px;
	color: #99a5c2;
}
.tex3{
	color: #e02b6a;
}
.lang{
	width: 1230px;
	height: 120px;
	margin: 0 auto;
	background: red;
	margin-top: 25px;
}
.lang img{
	display: block;
	width: 100%;
	height: 100%;
}
footer{
	width: 100%;
	height: 300px;
}
.foot{
	width: 1230px;
	height: 300px;
	margin: 0 auto;
}
.foot-top{
	width: 100%;
	height: 190px;
	
	border-bottom: 1px solid #d6d6d6;
}
.foot-top1{
	width: 1000px;
	height: 100%;
	float: left;
}
.foot-top2{
	width: 230px;
	height: 100%;
	float: left;
}
.foot2{
	width: 25%;
	height: 50px;
	float: left;
	margin-top: 30px;
}
.foot2 a{
	display: block;
	width: 100%;
	height: 100%;
}
.foot2 .iconfont{
	font-family: 'iconfont';
	color: #8c8c8c;
	font-size: 30px;
	text-align: left;
	margin-top: 12px;
}
.foot2 a span{
	display: block;
	width: 100%;
	height: 100%;
	margin-top: -25px;
	font-family: "黑体";
	font-size: 13px;
	color: #8c8c8c;
	margin-left: 35px;
}
.foot2 a:hover span{
	color: lightgray;
	transition: all 0.3s;
}
.hour{
	width: 100%;
	height: 17px;
	font-size: 13px;
	color: #999999;
	text-align: right;
	font-family: "黑体";
	margin-top: 45px;
}
.hour1{
	width: 100%;
	height: 17px;
	font-size: 17px;
	color: #00c3f5;
	text-align: right;
	font-family: "黑体";
	margin-top: 10px;
}
.call{
	width: 116px;
	height: 40px;
	background: #00c3f5;
	float: right;
	border-radius: 5px;
	margin-top: 10px;
}
.call:hover{
	background: #fff;
	transition: all 0.3s;
	border: 1px solid #00c3f5;
	box-sizing: border-box;
}
.call a{
	display: block;
	width: 100%;
	height: 100%;
}
.call a span{
	font-size: 10px;
	color: #fff;
	line-height: 40px;
	margin-left: 10px;
}
.call a:hover span{
	color: #00c3f5;
	transition: all 0.3s;
}
.call .iconfont{
	font-family: 'iconfont'; 
	font-size: 20px;
	color: #fff;
	float: left;
	margin-left: 20px;
}
.call a:hover .iconfont{
	color: #00c3f5;
	transition: all 0.3s;
}
.foot-bot{
	width: 100%;
	height: 20px;
	margin-top: 26px;
}
.our1{
	padding-right: 15px;
	padding-left: 15px;
	border-right: 1px solid #d6d6d6;
	font-size: 12px;
	float: left;
}
.our1 a{
	color: #9f9c99;
}
.our .our1:last-child{
	border-right: 0px;
}