*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.imgbox{
	width: 100%;
	height: 100%;
}
.imgbox img{
	width: 100%;
	height: 100%;
}
body img{
	width: 100%;
	height: 100%;
}
header{
	width: 100%;
	height: 30px;
	background: #BC2F2E;
}
footer{
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0;
	left:0;
	background:rgba(255,255,255,0.9);	
}
main{
	width: 1000px;
	height: 552px;
	position: absolute;
	top:30px;
	left:50%;
	margin-left: -500px;
	background: rgba(255,255,255,0.9);
}
.cp{
	width: 250px;
	height: 250px;
	float: left;
	margin-left: 60px;
	margin-top: 30px;
}
.cp img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
}
.cpb{
	width: 300px;
	height: 35px;
	position: absolute;
	top:300px;
	left:50px
}
.cpb-child{
	width: 60px;
	height: 20px;
	border: 1px solid grey;
	font-family: '苹方';
	text-align: center;
	
	background: #C1BBBB;
	margin-right: 10px;
	float: left;
	border-radius: 2px;
}
.cpb-child .iconfont{
	line-height: 20px;
	font-size: 13px;
color: #333333;
}
.lyric{
	width: 690px;
	height: 470px;
	float: left;
	overflow: hidden;
}
ul{
	width: 400px;
	height: 100%;
	float: left;
	margin-left: 150px;
}
.abs{
	width: 400px;
	height: 80px;
	float: left;
	margin-left: 150px;
}
.ab{
	width: 100%;
	height: 20px;
	font-size: 20px;
	font-family: '苹方';
	text-align: center;
	line-height: 20px;
	color: #333;
	padding-top: 20px;
}
.ab1{
	width: 100px;
	height: 13px;
	margin-left: 25px;
	font-size: 12px;
	font-family: '苹方';
	text-align: center;
	line-height: 13px;
	color: #333;
	margin-top: 12px;
	float: left;
}
.ly{
	height: 20px;
	width: 100%;
	text-align: center;
	line-height: 20px;
	font-family: '苹方';
	font-size:13px;
	margin-top: 3px;
}
.fleft{
	width: 80px;
	height: 80px;
	float: left;
}
.fleft img{
	width: 100%;
	height: 100%;
}
.fm{
	width: 180px;
	height: 80px;
	float: left;
	/*background: red;*/
}
.back,.forward{
	width: 30px;
	height: 30px;
	float: left;
	background: #DF3B3B;
	margin-top: 25px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 30px;
	font-size: 10px;
}
.cpb-child .iconfont{
	font-size: 12px;
	color: #333;
	cursor: pointer;
}
.play{
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
	margin-left: 13px;
}
.back{
	margin-left:20px;
}
.forward{
	margin-left:20px;
}
.play{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float:left;
	margin-left: 20px;
	background:#DF3B3B ;
	margin-top: 20px;
}
.j-left{
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 5px;
	color: #fff;
	line-height: 27px;
	text-align: center;
	font-size: 20px;
}
.lin{
	width: 780px;
	height: 80px;
	margin-left: 260px;
	overflow: hidden;
}
.lin-left,.lin-right{
	margin-top: 17px;
	font-family: "苹方";
	font-size: 12px;
	color: #666;
}
.lin-left{
	float: left;
}
.lin-right{
	float: right;
}
.line{
	width: 100%;
	height: 2px;
	background: #D0CFCA;
	margin-top: 45px;
}
.line1{
	width: 0;
	height: 100%;
	background: #DF3B3B;
}
.vol{
	width: 190px;
	height: 100%;
	float: left;
	/*padding-top: 20px;*/
	position: absolute;
	bottom: 0;
	right:0
}
.vol-left{
	width: 20px;
	height: 100%;
	float: left;
	font-size: 15px;
	text-align: center;
	line-height: 90px;
	color: #999;
}
.vol-right{
	width: 120px;
	height: 2px;
	float: left;
	margin-top: 43px;
	background: #D0CFCA;
	position: relative;
}
.yuan{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #BC2F2E;
	position: absolute;
	left: 0;
	top:-4px;
}
.vol-right1{
	width: 0;
	height: 100%;
	background: #DF3B3B;
}

